.Input {
  font-family: Helvetica, sans-serif;
  border-bottom: solid;
  border-width: 0.5px;
  border-bottom-color: #b6b6b6;
  margin-right: 30px;
  margin-bottom: 20px;
  line-height: 5px;
}

.Input label {
  color: #b6b6b6;
  font-size: 14px;
}

.Input input {
  font-size: 20px;
  color: #5b5b5b;
  border: 0px solid;
  outline: none;
}
